body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

main {
    padding: 20px;
}

.slider {
    margin-bottom: 20px;
}

.slider img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.categories {
    margin-bottom: 20px;
}

.categories ul {
    list-style-type: none;
    padding: 0;
}

.categories ul li {
    margin-bottom: 10px;
}

.products {
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    flex: 0 0 25%;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #e1f452;
    padding: 10px 0;
    text-align: center;
}
